<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <title>Forum :: {% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <h1>
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            </a>
        </h1>
        <div class="buttons">
            <a href="{{url_for('user.register')}}" class="register">
                <img src="{{ url_for('static', filename='images/user-plus.png') }}" alt="">
                <span>Register</span>
            </a>
            <a href="{{url_for('user.login')}}" class="login">Login</a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>