{% extends "layout/no-logged.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="form">
    <div>
        <h2>Register</h2>
        <p>More than 150 questions are waiting for your wise suggestions!</p>

        {% from "macros/formfield.html" import render_field %}
        <form action="{{ url_for('user.register') }}" method="POST">
            {{ form.csrf_token }}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            <button type="submit">Register</button>
        </form>
    </div>
</div>

<div class="image">
    <img src="{{ url_for('static', filename='/images/image.jpg')}}" alt="">
</div>
{% endblock %}